/* Estilos generales */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
  scroll-behavior: smooth;
}

body {
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(212,212,212,1) 70%, rgba(179,179,179,1) 100%);
  grid-template-areas: 
  "header header header"
  "main   main   main"
  "footer footer footer";
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Estilos de header */

.header {
  display: block;
  border-bottom: 1px solid black;
  margin: 10px 25px;
  padding: 5px;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}

.perfil {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.perfil__imagen {
  object-fit: cover;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid black;
}

.perfil__nombre {
  font-size: 20px;
  font-weight: bold;
}

.nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav ul li a{
  margin: 10px;
  color: black;
  transition: all 0.2s;
  font-size: 20px;
  font-weight: bold;
}

.nav ul li a:hover {
  color: #b54d4d;
}

/* Estilos del main */

.main {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
  margin: 10px 25px;
}

.main__titulo {
  text-align: center;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

/* ¿Quien soy? Estilos */

.main__quienSoy {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.quienSoy__content {
  display: flex;
  margin: 40px 0;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.quienSoy__imagen {
  object-fit: cover;
  width: 500px;
  height: 350px;
  background: rgb(255,164,164);
  background: radial-gradient(circle, rgba(255,164,164,1) 0%, rgba(255,120,120,1) 70%, rgba(255,62,62,1) 100%);
  border-radius: 15px;
}

.quienSoy__desc {
  width: 500px;
  font-size: 20px;
}

.quienSoy__desc p{
  margin: 10px 0;
}

/* ¿Que lenguajes domino? Estilos */
.main__lenguajes {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.main__lenguajes p {
  font-size: 18px;
}

.lenguajes {
  display: flex;
  width: 70%;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 40px;
}

.lenguajes__img {
  width: 100px;
  height: 120px;
  object-fit: contain;
  transition: all 0.2s;
}

.lenguajes__img:hover {
  scale: 1.2;
}

/* Certificados de estudios Estilos */
.main__certificados {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.certificados {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 40px 0;
}

.certificado__img{
  width: 500px;
  height: 400px;
  object-fit: contain;
  transition: all 0.2s;
}

.certificado__img:hover {
  scale: 1.2;
}

/* ¡Contactame! Estilos */
.main__contacto {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.contactos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 40px 0;
  width: 60%;
}

.contactos__img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 20%;
  transition: all 0.2s;
}

.contactos__img:hover {
  scale: 1.1;
}

/* Footer */

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 40px 0;
}

.footer__info {
  text-align: center;
  width: 370px;
}
/* MEDIA QUERY 1200PX */

@media (max-width: 1200px){
  body {
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(212,212,212,1) 70%, rgba(179,179,179,1) 100%);
    grid-template-areas: 
    "header header"
    "main   main"
    "footer footer";
  }

  /* HEADER */

  .header__content {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .perfil {
    margin-bottom: 20px;
  }

  /* MAIN */

  .quienSoy__content {
    flex-direction: column;
    text-align: center;
  }

  .certificados {
    flex-direction: column;
    margin: 40px 0 0 0;
  }
}

@media (max-width: 768px){
  /*  HEADER  */
  .header {
    margin: 10px 0;
  }

  .header__content {
    margin: 5px 0;
  }

  .nav ul li a{
    font-weight: normal;
    font-size: 18px;
  }

  /* MAIN */

  .contactos {
    flex-direction: row;
    width: 100%;
  }

  /* FOOTER */

  .footer {
    flex-direction: column;
    height:10rem;
    justify-content: space-evenly;
  }
}

@media (max-width: 480px){

  /* HEADER */
  .header {
    padding: 0;
  }

  .header__content {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
  }

  .perfil {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .nav ul {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

  }

  .nav ul li {
    margin: 5px;
  }

  /* MAIN */

  .main {
    margin: 0px;
  }

  .main__titulo h1{
    font-weight: bold;
    font-size: 25px;
  }

  .main__quienSoy {
    margin-top: 30px;
  }

  .main__lenguajes {
    margin: 0;
  }

  .quienSoy__imagen {
    width: 370px;
    height: 250px;
    object-fit: cover;
    margin-bottom: 10px;
  }

  .quienSoy__desc {
    width: 370px;
  }

  .certificado__img {
    width: 350px;
    height: 350px;
  }

  .main__lenguajes h2 {
    text-align: center;
  }

  .contactos__img {
    width: 70px;
    height: 70px;
  }
}